<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 style="position: inherit">
    Welcome to Blog Posts
  </h1>



  <ngb-tabset>
    <ngb-tab title="Posts"   >
      <ng-template ngbTabContent>
        <div style="text-align: -webkit-center;">
        <app-post-list-component></app-post-list-component>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Create Post">
      <ng-template ngbTabContent>
        <div style="text-align: -webkit-center;">
        <app-new-post></app-new-post>
        </div>
      </ng-template>

    </ngb-tab>

  </ngb-tabset>




</div>

